.signup {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
  height: 700px;
  width: 40%;
  border-radius: 14px;
  background-color: white;
}
.form input:focus {
  outline: none;
}
.form input {
  height: 60px;
  padding-left: 15px;
  border: 1px solid #dee2e6;
  width: 80%;
}
.button {
  background-color: #343a40;
  width: 80%;
  padding: 10px;
  color: white;
}

.imgbg {
  background: url("https://asm3-njs-tongthe.onrender.com/images/banner1.jpg");
  background-position: center top;
}
