table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
.img {
  width: 140px;
  height: 140px;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tbody tr:nth-child(odd) {
  background-color: #e9ecef;
}
